# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore compiled classes in bin except the directory itself
bin/*
!bin/.gitkeep

# IDE files
.idea/
.vscode/
*.iml
